@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    src: url('./Assets/font/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('./Assets/font/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('./Assets/font/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('./Assets/font/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('./Assets/font/Poppins-Light.ttf') format('truetype');
}

@keyframes bounceLittle {
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}